<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936102801906-csnhpfcfjkf08le03q8srm0she4c1m8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936102801906-csnhpfcfjkf08le03q8srm0she4c1m8r</string>
	<key>API_KEY</key>
	<string>AIzaSyCMCWdqPyM4uLUgUPzrsjIQzVEi3mYZN_g</string>
	<key>GCM_SENDER_ID</key>
	<string>936102801906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedsayed.nova</string>
	<key>PROJECT_ID</key>
	<string>nova-7bc8e</string>
	<key>STORAGE_BUCKET</key>
	<string>nova-7bc8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936102801906:ios:ffe0326039e230ac367b6b</string>
	<key>DATABASE_URL</key>
	<string>https://nova-7bc8e-default-rtdb.firebaseio.com</string>
</dict>
</plist>